*{
  margin: 0;
  padding:0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-container-logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 60px;
}
.flex-container-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.flex-container-logo-again {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.flex-container-search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-container-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-item-text {
  padding: 5px;
  font-size: 12px;
}
.flex-item-footer {
  padding: 5px;
  font-size: 12px;
}
.flex-item {
  padding: 5px;
  font-size: 12px;
}
.flex-item-logo {
  padding: 0px;
  font-size: 12px;
}
a {
  padding: -10px;
}
.dropdown-header {
  width: 200px;
  padding: 2px 0px;
  margin-right: 0px;
  font-size: 16px;
}
a.dropdown-item {
  width: 200px;
  padding: 2px 0px;
}

.flex-item1,.flex-item2,.flex-item3,.flex-item4,.flex-item5,.flex-item6,
.flex-item7,.flex-item8,.flex-item9,.flex-item10,.flex-item11,.flex-item12{
  margin: 10px;
}
.flex-item11,.flex-item12,.flex-item13,.flex-item14,.flex-item15,.flex-item16{
  margin:3px;
  width:110px;
}
.flex-item21,.flex-item22,.flex-item23,.flex-item24,.flex-item25,.flex-item26{
  margin:3px;
  width:110px;
}
.dropdown-header{
  color:orange;
}
i{
  margin: 3px;
}
@media (min-width: 992px) {
  .dropdown-menu.show {
    display: block;
    width: 700px;
    margin-left: -190px;
    margin-top: 20px;
}
.col-md-4.mrgn-branches {
  flex: none;
  max-width: none;
}
.col-md-2.col-sm-12{
  flex:0 0 16.666667%;
  max-width: 16.666667%;
}
.col-md-3.col-sm-12 {
  flex:0 0 25%;
  max-width: 25%;
}
.col-md-3.col-sm-12.footerabt{
  flex:0 0 25%;
  max-width: 25%;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 12px;
}
.flex-container-search {
  justify-content: left;
  margin-left: 400px;
}
.searchtype {
  margin: 20px;
}
div.search-bar {
  margin-left: 0px;
  margin-top: 90px;
}
.flex-itemer {
  padding: 0px;
  margin:-20px;
  font-size: 12px;
  margin-left: -23px; 
}
input#prosearch {
  width: 345px;
}
.flex-container-logo-again {
  justify-content: space-evenly;
  margin-left: 150px;
}
.box_feat h3 {
  font-weight: normal
}
.box_feat img {
  border-radius: 0%;
}
} 
@media (min-width:700px) {
  .col-md-2.col-sm-12{
    padding-left: 46px;
  }
  .col-md-4.mrgn-branches {
    flex: none;
    max-width: none;
  }
  .box_feat h3 {
    font-weight: normal
  }
  .box_feat img {
    border-radius: 0%;
  }
}
@media (min-width: 769px) {
  .flex-container-logo-again {
    justify-content: space-evenly;
    margin-left: 100px;
  }
  .box_feat h3 {
    font-weight: normal
  }
  .box_feat img {
    border-radius: 0%;
  }
  .col-md-2.col-sm-12{
    max-width: none;
  }
  .col-md-3.col-sm-12 {
    flex:none;
    max-width: none;
  }
  .col-md-4.mrgn-branches{
    flex: none;
    max-width: none;
  }
}
@media (min-width: 1046px) {
  .dropdown-menu.show {
    display: block;
    width: 950px;
    margin-right: 400px;
    margin-left: -180px;
    margin-top: 20px;
}
.box_feat h3 {
  font-weight: normal
}
.box_feat img {
  border-radius: 0%;
}
.col-md-4.mrgn-branches {
  flex: none;
  max-width: none;
}
.col-md-2.col-sm-12{
  flex:0 0 16.666667%;
  max-width: 16.666667%;
}
.col-md-3.col-sm-12 {
  flex:0 0 25%;
  max-width: 25%;
}
.col-md-3.col-sm-12.footerabt{
  flex:0 0 25%;
  max-width: 25%;
}
.flex-container-search{
  justify-content: left;
  margin-left: 400px;
}
.flex-container-logo-again {
  justify-content: space-evenly;
  margin-left: 200px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 12px;
}
div.search-bar {
  margin-left: 0px;
  margin-top: 90px;
}
.searchtype {
  margin: 20px;
}
.flex-itemer {
  padding: 0px;
  margin:-20px;
  font-size: 12px;
  margin-left:-23px;
}
input#prosearch {
  width: 345px;
}
}
.searchtype {
  margin: 20px;
}
div.search-bar {
  margin-left: 0px;
  margin-top: 90px;
}
.flex-itemer {
  padding: 0px;
  margin:-20px;
  font-size: 12px;
  margin-left: -23px;
}
.input-group {
  justify-content: center;
  margin-left: -30px;

}
input#prosearch {
  border-radius: 5px;
  width: 345px;
  margin-left: -30px;
}
@media (max-width: 545px) {
  input#prosearch {
    width: 200px;
  }
  .col-md-2.col-sm-12{
    flex:none;
    max-width: none;
  }
  .col-md-3.col-sm-12 {
    flex:none;
    max-width: none;
  }
  .col-md-3.col-sm-12.footerabt{
    flex:none;
    max-width: none;
  }
  .col-md-4.mrgn-branches {
    flex: none;
    max-width: none;
  }
  .box_feat h3 {
    font-weight: normal
  }
  .box_feat img {
    border-radius: 0%;
  }
  .flex-itemer {
    margin-left: -25px;
  }
} 
@media (max-width:700px) {
  .col-md-2.col-sm-12{
    flex:none;
    max-width: none;
  }
  .col-md-3.col-sm-12 {
    flex:none;
    max-width: none;
  }
  .col-md-3.col-sm-12.footerabt{
    flex:none;
    max-width: none;
  }
  .col-md-4.mrgn-branches{
    flex: none;
    max-width: none;
  }
  .box_feat h3 {
    font-weight: normal
  }
  .box_feat img {
    border-radius: 0%;
  }
}
.box_feat1 {
  width: 150px;
}
.box_feat {
  width: 150px;
}
.patner {
  width: 150px;
  height: 100px;
}
.heading_s1 {
  text-align: center;
}
.col-md-4.mrgn-branches {
  flex: none;
  max-width: none;
}
.fit_center {
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  width: 70%;
}
.coursedessside .heading_res {
  border-bottom: 1px solid #e9e9e9;
  text-align: left;
  font-variant: all-small-caps;
  font-weight: 700;
  line-height: 36px;
  padding-bottom: 2px;
  font-size: 22px;
  text-transform: capitalize;
  margin-top: 0px;
  padding-left: 44px;
}
.lister {
  padding-left:60px;
}
div.col-lg-2.box_feat a.h3 {
  font-weight: normal
}
img {
  border-radius: 0%;
}
img.homestressbox  {
  width: 60%;
  margin: 64px;
}
.heading {
  max-width:100%;
  background-color: red;
  text-align: center;
}
.testexplainboxh.col-md-6.info h3{
  color: white;
  text-align: center;
} 
@media (max-width:1400px) {
  .col-md-6.imp-image1 {
    display:none;
  }
}
@media (max-width:1040px) {
  .flex-container-search {
    justify-content: left;
    margin-left:270px;
  }
  .col-md-6.imp-image1 {
    display:none;
  }
}
@media (max-width:780px) {
  .flex-container-search {
    justify-content: left;
    margin-left:140px;
  }

}
@media (max-width:420px) {
  .flex-container-search {
    justify-content: left;
    margin-left:40px;
  }
  .col-md-6.imp-image1 {
    display:block;
  }
  .col-md-6.imp-image {
    display:none;
  }
}
@media (max-width:380px) {
  .flex-container-search {
    justify-content: left;
    margin-left:25px;
  }
  .col-md-6.imp-image1 {
    display:block;
  }
  .col-md-6.imp-image {
    display:none;
  }
}
@media (max-width:370px) {
  .flex-container-search {
    justify-content: left;
    margin-left:15px;
  }
  .col-md-6.imp-image1 {
    display:block;
  }
  .col-md-6.imp-image {
    display:none;
  }
}
@media (max-width:340px) {
  .flex-container-search {
    justify-content: left;
    margin-left:0px;
  }
  .col-md-6.imp-image1 {
    display:block;
  }
  .col-md-6.imp-image {
    display:none;
  }
}
.each-slide {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.coverflow__container__1P-xE  {
  background: steelblue;
}
.coverflow__cover__25-7e {
  height:150px;
}
#boder {
  margin: 10px;
  border-radius: 20px;
  border: 0.5px solid white;
  padding:5px;
  color: white;
}

#collagesearch{
  background-image: linear-gradient(to right, rgba(216, 193, 131, 0),rgb(236, 172, 112));
  display: flex;
  border-radius: 20px;
}
#examssearch{
  background-image: linear-gradient(to right, rgba(151, 221, 215, 0),rgb(112, 232, 236));
  display: flex;
  border-radius: 20px;
}
#coursesearch{
  background-image: linear-gradient(to right, rgba(168, 230, 127, 0),rgb(167, 236, 77));
  display: flex;
  border-radius: 20px;
}
div#horizontal1 {
  width: 30%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#horizontal2 {
  width: 30%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#horizontal3 {
  width: 30%;
  height: 100%;
  background: rgba(255,255,255,0.5);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
div#searcher {
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Ubuntu !important;
  margin-top: 53px;
  margin-left:15px;
}
@media only screen and (max-width: 736px) {

#collagesearch,#coursesearch,#examssearch {
  flex-direction: column;
  margin: auto 0;
  align-items:center;
}
div#horizontal1,div#horizontal2,div#horizontal3 {
 width:100%;
 border-radius:25%;
}
div#searcher {
  font-size: 13px;
  margin-top: 0px;
  padding: 7px;
}
#boder{
  font-size: 10px;
  padding: 3px;
}
}
@media only screen and  (max-width: 1024px) and (orientation: landscape){
  .flex-container-search {
    justify-content: left;
    margin-left:270px;
  }
}
@media only screen and  (max-width: 823px) and (orientation: landscape){
  div.search-bar {
    margin-top:-75px;
  }
  .flex-container-search {
    justify-content: left;
    margin-left:175px;
  }
}
@media only screen and  (max-width: 750px) and (orientation: landscape){
  div.search-bar {
    margin-top:-75px;
  }
  .flex-container-search {
    justify-content: left;
    margin-left:125px;
  }
}
@media only screen and  (max-width: 670px) and (orientation: landscape){
  div.search-bar {
    margin-top:-75px;
  }
  .flex-container-search {
    justify-content: left;
    margin-left:95px;
  }
}
@media only screen and  (max-width: 650px) and (orientation: landscape){
  div.search-bar {
    margin-top:-75px;
  }
  .flex-container-search {
    justify-content: left;
    margin-left:80px;
  }
}
@media only screen and  (max-width: 570px) and (orientation: landscape){
  div.search-bar {
    margin-top:-75px;
  }
  .flex-container-search {
    justify-content: left;
    margin-left:45px;
  }
}